cloud_id                 = "b1gv4nqhvba7q8tmagrr"
folder_id                = "b1g10nnv5334ge4o7vf3"
zone                     = "ru-central1-a"
image_id                 = "fd8gonjgqskvh3bb4f13"
public_key_path          = "~/.ssh/yc_docker.pub"
private_key_path         = "~/.ssh/yc_docker"
subnet_id                = "e9be793rerbholv5lnpb"
access_key               = "YCAJEQa*********ZjpUu"
secret_key               = "YCON************rNGZg"
